@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
.slide1{
    font-family: 'Rubik', sans-serif;
    color: #114e90;
}

.body{
    color:#000152;
}

.tooltip-text {
    font-size: 20px;
    font-weight: bolder;
    fill: #0F52BA;
}
.tooltip-text-desc {
    font-size: 15px;
    font-weight: bolder;
    fill: #0F52BA;
}

#donutvis {
    height: 90vh;
}
#parallelvis {
    height: 80vh;
}
#circularvis{
    height: 80vh;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 80px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border-radius: 8px;
    /*  pointer-events: none;	This line needs to be removed */
}
.meme {
    /*background: red url('../img/t.png')  no-repeat;*/
    background: url('https://www.pngkey.com/png/full/21-212344_blue-lines-png-blue-big-line-png.png')  no-repeat;
}
.axis {
    font: 10px sans-serif;
    font-weight: bold;
    fill: #333;
}

.axis path,
.axis line {
    fill: none;
    stroke: #333;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.text-style {
    border: 3px solid black;
    text-align: center;
    font-size: 16px;
    padding-top: 10%;
}

/*.axis { font-size: 12pt}*/

.bar-title {
    font-size: 18pt;
    font-family: "American Typewriter";
}

.bar-title2 {
    font-size: 12pt;
    font-family: "American Typewriter";
}

.lollipop-title {
    font-size: 8pt;
    font-family: "American Typewriter";
}

/*for about team*/
.profile-card {
    position: relative;
    font-family: sans-serif;
    width: 220px;
    height: 220px;
    background: #393A71;
    padding: 20px;
    box-shadow: 0 0 22px #3336;
    transition: .6s;
    margin: 0 25px;
    border-radius: 10px;
}
.profile-card:hover{
    height: 260px;
}
.profile-card .img{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .6s;
    z-index: 99;
}
.profile-card:hover .img{
    transform: translateY(-60px);
}
.img img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 22px #3336;
    transition: .6s;
}
.caption{
    text-align: center;
    transform: translateY(-80px);
    opacity: 0;
    transition: .6s;
    font-size: 12px;
    color: white;
    font-family: sans-serif;
    margin: 2px 0 9px 0;
}
.caption p{
    margin: 0px;
}
.profile-card:hover .caption{
    opacity: 1;
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: antiquewhite;
}
.caption .social-links a{
    color: white;
    margin-right: 15px;
    font-size: 21px;
    transition: .6s;
}

.social-links a:hover{
    color: black;
}
.aboutTeam{
    width: 100%;
    height: 30vh;
    display: flex;
    /*padding-top:2% ;*/
    justify-content: center;
    align-items: center;
}

/*-------------------------------------------------------*/
.state {
    fill: green;
    /*fill: #c0c0c0;*/
    /*stroke: #fff;*/
    stroke: black;
    opacity: 0.2;
    cursor: pointer;
}

.y-axis {
    text-transform: capitalize;
}

.stateText {
    cursor: pointer;
}
/*#nav-container {*/
/*    display: flex;*/
/*    cursor: pointer;*/
/*}*/

/*#source {*/
/*    margin-left: 20px;*/
/*}*/

/*----------------------------------*/

/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    /*width: 0; !* 0 width - change this with JavaScript *!*/
    /*position: fixed; !* Stay in place *!*/
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #ffffff; /* Black*/
    opacity: 1.0;
    overflow-x: hidden; /* Disable horizontal scroll */
    /*padding-top: 60px; !* Place content 60px from the top *!*/
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    /*position: absolute;*/
    top: 0;
    /*right: 25px;*/
    font-size: 36px;
    color: red;
    /*margin-left: 50px;*/
}

/* The button used to open the sidebar */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}


.intro{
    font-family: 'Josefin Sans', sans-serif;

}

.fillpadding{
    padding: 5px 5px 5px 5px;
}


/*parallel styles*/
svg {
    font: 10px sans-serif;
}

.background path {
    fill: none;
    stroke: #ddd;
    shape-rendering: crispEdges;
}

.foreground path {
    fill: none;
    stroke: steelblue;
}

.brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
}
 .myText {
     font-size: 10pt;
     font-family: sans-serif;

 }

.foreground path {
    fill: none;
    stroke-opacity: .5;
    stroke-width: 1.5px;
}

.foreground path.fade {
    stroke: #000;
    stroke-opacity: .05;
}

/*tip styles*/
.box{
    width: 325px;
    height: 120px;
    position: absolute;
    top: 3%;
    /*left: 78%;*/
    right : 20px;
    opacity: 1;
    background: antiquewhite;
}
.stack-top{
    z-index: 9;
    /*margin: 20px; !* for demo purpose  *!*/
}

button {
    all: unset;
    cursor: pointer;
}
/*custom visual*/

.small-divs {
    height: 34vh;
}

.small {
    font-family: sans-serif;
}

.sidebar .close-icon {
    font-size: 36px;
    color: red;
    height: 5vh;
}

.axis-title {
    text-transform: capitalize;
}

#salary {
    font-weight: bolder;
    font-size: 12px;
}

.box-plot-tooltip {
    position: absolute;
    text-align: center;
    width: 120px;
    height: 90px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border-radius: 8px;
    /*  pointer-events: none;	This line needs to be removed */
}

.job-title-circle {
    cursor: pointer;
}

.parallel-chart {
    cursor: pointer;
}

.parallel-chart:hover {
    fill: #6AB89D;
}

.r-labels{
    font-weight: bold;
    font-size: medium;
}
input[type=radio] {

    width: 3%;
    height: 1em;
}
.allLabels{
    font-weight: bold;
}