@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
.body{
    color:#000152;
}

.tooltip-text {
    font-size: 30px;
    font-weight: bolder;
    fill: #0F52BA;
}

#donutvis {
    height: 90vh;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 80px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border-radius: 8px;
    /*  pointer-events: none;	This line needs to be removed */
}

.axis {
    font: 10px sans-serif;
    fill: #333;
}

.axis path,
.axis line {
    fill: none;
    stroke: #333;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.text-style {
    border: 3px solid black;
    text-align: center;
    font-size: 16px;
    padding-top: 10%;
}

/*.axis { font-size: 12pt}*/

.bar-title {
    font-size: 18pt;
    font-family: "American Typewriter";
}

/*.vertical-scrolling {*/
/*    border: 5pt solid green;*/
/*    border-right: 30pt solid green;*/
/*}*/


/*for about team*/
.profile-card{
    position: relative;
    font-family: sans-serif;
    width: 220px;
    height: 220px;
    background: #393A71;
    padding: 30px;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: .6s;
    margin: 0 25px;
}
.profile-card:hover{
    border-radius: 10px;
    height: 260px;
}
.profile-card .img{
    position: relative;
    width: 100%;
    height: 100%;
    transition: .6s;
    z-index: 99;
}
.profile-card:hover .img{
    transform: translateY(-60px);
}
.img img{
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: .6s;
}
.profile-card:hover img{
    border-radius: 10px;
}
.caption{
    text-align: center;
    transform: translateY(-80px);
    opacity: 0;
    transition: .6s;
}
.profile-card:hover .caption{
    opacity: 1;
}

.caption p{
    font-size: 12px;
    color: white;
    font-family: sans-serif;
    margin: 2px 0 9px 0;
}
/*.caption .social-links a{*/
/*    color: #333;*/
/*    margin-right: 15px;*/
/*    font-size: 21px;*/
/*    transition: .6s;*/
/*}*/
/*.social-links a:hover{*/
/*    color: #0c52a1;*/
/*}*/
.aboutTeam{
    width: 100%;
    height: 100vh;
    display: flex;
    padding-top:5% ;
    justify-content: center;
}

.intro{
    font-family: 'Josefin Sans', sans-serif;

}

.fillpadding{
    padding: 5px 5px 5px 5px;
}