.tooltip {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 80px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border-radius: 8px;
    /*  pointer-events: none;	This line needs to be removed */
}

.tooltip h3, h4 {
    text-align: left;
}

.tooltip h4 {
    font: 14px sans-serif;
}

.box {
    inline-size: 150px;
    overflow-wrap: break-word;
    hyphens: manual;
}

.bar-chart-container {
    height: 40vh;
    width: 100%;
}

.small {
    font-family: sans-serif;
}

.close-icon {
    position: absolute;
    top: 0;
    right: 10%;
    font-size: 36px;
    color: red;
    display: none;
    /*margin-right: 10px;*/
    /*margin-left: 50px;*/
}
